@import "../common";

.vertical-tab {

  .tabs-wrapper .tab {
    margin: 0.25rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
  }

  .tabs-wrapper .selected {
    font-weight: bold;
    color: white;
  }

  .tabs-wrapper .tab > .name, .tabs-wrapper .tab > .notifications {
    display: inline-block;
  }

  .tabs-wrapper .tab > .name {
    max-width: 80%;
  }

  .tabs-wrapper .tab > .notifications {
    float: right;
    color: #fff;
    line-height: 1.5rem;
  }

  .circle {
    min-width: 26px;
    height: 26px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    text-align: center;
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.horizontal-tab {
  .tab {
    float: left;
  }

  .tabs-wrapper .tab {
    margin: 0 0.1rem 0 0;
    padding: 0.5rem;
    cursor: pointer;
    display: inline;
  }

  .tabs-wrapper .tab > .name {
    padding: 0.25rem;
    font-size: 0.9rem;
  }

  .tabs-wrapper .selected {
    font-weight: bold;
    top: -1px;
  }

  .tab-content-wrapper {
    margin: 0;
  }

  .tab-content {
    padding: 1.5rem;
  }
}