@import "compass";
@import "susy";
$susy: (
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: inside,
);

.container {
  @include container(61.25rem);  // 980px
}

.row {
  @include span(12);
}

.column {
  padding: 0.25rem;
}

.column-1 {
  @include span(1 of 12);
}

.column-2 {
  @include span(2 of 12);
}

.column-3 {
  @include span(3 of 12);
}

.column-4 {
  @include span(4 of 12);
}

.column-5 {
  @include span(5 of 12);
}

.column-6 {
  @include span(6 of 12);
}

.column-7 {
  @include span(7 of 12);
}

.column-8 {
  @include span(8 of 12);
}

.column-9 {
  @include span(9 of 12);
}

.column-10 {
  @include span(10 of 12);
}

.column-11 {
  @include span(11 of 12);
}

.column-12 {
  @include span(12 of 12);
}

.flex-row {
  display:table;
  width: 100%;
}

.flex-col {
  display:table-cell;
  width:100%;
}

.fixed-col {
  display:table-cell;
  white-space: nowrap;
  float: left;
}

.flex-row, .flex-col, .fixed-col {
  border: 0px dashed #153410;
}