.filter-header {
  line-height: 2rem;
}

.none-filter-header {
  padding-left: 0.75rem;
}

.none-filter-header hr{
  margin-top: 0.75rem;
}

.filter-icon {
  padding-left: 0.75rem;
}

.filter-arrow-icon {
  padding-right: 0.75rem;
}

.filter-value {
  display:inline-block;
  padding: 0 1rem;
}

