.breadcrumb-wrapper .item {
  display: inline-block;
}

.breadcrumb-wrapper .item:before {
  content: '\00a0- ';
}

.breadcrumb-wrapper .item:first-child:before {
  content: '';
}

.breadcrumb-wrapper .item.selected {
  color: #cccccc;
}