.members-page {
}

.filter-wrapper {
  margin: 0 !important;
}

.members-filter-wrapper {
  padding: 0.5rem 2rem;
}

.members-actions-row {
  text-align: right;
}

.members-grid-user-column {
  width: 20%
}

.members-grid-roles-column {
  width: 13%
}

.members-grid-projects-column {
  width: 28%
}

.members-grid-last-visit-column {
  width: 15%;
  text-align: center;
}

.members-grid-messages-column,
.members-grid-documents-column {
  text-align: center;
  width: 12%
}

.members-grid-wrapper {
  padding-top: 0.75rem;
}

.members-grid-wrapper .griddle-container th {
  text-align: center;
}

.members-grid-wrapper .griddle-container tr {
  border-bottom: 1px solid #cccccc;
}

.members-grid-wrapper .griddle-container tr td {
  vertical-align: top;
}



.members-grid-wrapper .griddle-container th:last-child,
.members-grid-wrapper .griddle-container td:last-child{
  float: none;
}

.members-grid-wrapper .griddle-page select {
  width: auto;
  padding-right: 1.5rem;
}

.members-actions-button {
  margin: 0 1.5rem;
}

.members-avatar-wrapper, .members-username {
  display: table-cell;
}

.members-username {
  vertical-align: top;
}

.members-avatar {
  min-width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.member-add {
  input.edit-inline {
    width: 100%;
  }

  .community-roles-wrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
  }

  .community-role {
    display: inline-block;
    padding-right: 1rem;
  }

  .project-role, .project-add-role {
    display: inline-block;
    padding-top: 0.5rem;
  }

  .tinymce-inline[contenteditable] {
    background-color: white;
  }

  .action-buttons {
    text-align: right;
    padding-top: 1rem;
    button {
      margin-left: 1rem;
    }
  }

  .projects-roles {
    padding-bottom: 0.75rem;
  }

  .project-committees {
    font-size: 0.85rem;
  }

  .project-committees:last-child {
    padding-bottom: 1rem;
  }

  .disabled-committee {
    color: #4d4d4d;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;

    .committee-name {
      padding-left: 0.2rem;
      padding-right: 0.4rem;
    }
  }

  .role {
    text-transform: capitalize;

    .role-delete-btn {
      padding-left: 0.5rem;
    }
  }

  .role:not(:last-of-type):after {
    content: ", ";
  }

  .message {
    height: 15rem;
  }

  .editable-text {
    padding-bottom: 1rem;
  }
}
