.inline-block {
  display: inline-block;
}

.page {
  min-height: 30rem;

  .menu {
    ul {
      padding-left: 0;
      li {
        &:first-child {
          padding-left: 0;
        }
        display: inline-block;
        padding: 0.25rem 0.25rem;
      }
    }
  }
}

header {
  .header-logo {
    float: left;
    max-height: 30px;
    margin: 0 10px 0 0;
  }
  .organization-name {
    line-height: 30px;
    .icon-button {
      margin: 5px 0;
    }
  }
  .header-menu {
    line-height: 30px;
  }

}

.community.container, .project-content {
  .organization-description {
    min-height: 150px;
    width: 100%;
    .main-image {
      float: left;
      display: inline-block;
      max-width: 300px;
      max-height: 200px;
      margin: 0 20px 20px 0;
      &.hidden {
        display: none;
      }
    }
    &.is-editing .main-image {
      display: none;
    }
    .editable {
      height: 100%;
      .view-content {
        padding: 0 20px 0 0;
      }
    }
    .organization-admin-links {
      display: block;
      clear: both;
      width: 100%;
    }
  }
}