.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  transition: opacity 400ms ease-in;
  opacity: 1;
  pointer-events: auto;

  .modal-container {
    width: 70%;
    max-width: 800px;
    position: relative;
    margin: 10% auto;
    padding: 5px 5px 5px 5px;
    background: #fff
  }

}

